In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r"X:\CancerAnalysis\list-african-countries-dependent-territory-286j.csv")
df

,SNo,Country,"July 1, 2013",% of,Average,Average.1,Rank,Estimated,Alternative,Date
0,NaN,(or dependent territory),projection,pop.,relative,absolute,NaN,doubling,figure,NaN
1,NaN,NaN,NaN,NaN,annual,annual,NaN,time,NaN,NaN
2,NaN,NaN,NaN,NaN,growth,growth,NaN,(Years),NaN,NaN
3,NaN,NaN,NaN,NaN,(%),NaN,NaN,NaN,NaN,NaN
4,1,Nigeria,"17,70,96,000",16.1,3.24,"55,51,000",1.0,22,"16,42,91,827",2013
...,...,...,...,...,...,...,...,...,...,...
62,NaN,Total,"1,09,97,55,000",100,2.74,"2,92,79,000",NaN,26,NaN,NaN
63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,For other more formats kindly visit www.downlo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,Original source : en.wikipedia.org/wiki/List_o...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#getting names of all African countries from a csv file in a list format
pd.set_option('display.max_rows', df.shape[0]+1)

In [5]:
df.fillna('', inplace=True)
df = df.drop_duplicates()

In [6]:
df['Country'].tolist()

['(or dependent territory)',
 '',
 '',
 '',
 'Nigeria',
 'Ethiopia',
 'Egypt',
 'Democratic Republic of the Congo',
 'South Africa',
 'Tanzania',
 'Kenya',
 'Algeria',
 'Uganda',
 'Sudan',
 'Morocco',
 'Ghana',
 'Mozambique',
 'Ivory Coast',
 'Madagascar',
 'Angola',
 'Cameroon',
 'Niger',
 'Burkina Faso',
 'Mali',
 'Malawi',
 'Zambia',
 'Senegal',
 'Zimbabwe',
 'Chad',
 'Guinea',
 'Tunisia',
 'Rwanda',
 'South Sudan',
 'Benin',
 'Somalia',
 'Burundi',
 'Togo',
 'Libya',
 'Sierra Leone',
 'Central African Republic',
 'Eritrea',
 'Republic of the Congo',
 'Liberia',
 'Mauritania',
 'Gabon',
 'Namibia',
 'Botswana',
 'Lesotho',
 'Equatorial Guinea',
 'Gambia',
 'Guinea-Bissau',
 'Mauritius',
 'Swaziland',
 'Djibouti',
 'Reunion (France)',
 'Comoros',
 'Western Sahara',
 'Cape Verde',
 'Mayotte (France)',
 'Sao Tome and Principe',
 'Seychelles',
 'Saint Helena, Ascension and Tristan da Cunha (UK)',
 'Total',
 '',
 '',
 '']